@import './vars.css';

.container {
    overflow: hidden;
    max-height: 200vh;
    margin: 0 auto;
    width: 97vw;
}

.bg::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    background-image: linear-gradient(to right, #B3EBF5, #FFE1FA);
    background-position: center;
    background-size: cover;

    overflow: hidden;

    height: 100vh;
    width: 100vw;
}

.bg::before {
    filter: blur(10px);
}

.home {
    font-size: 50px;
    text-align: center;

    position: relative;
    padding: 15px;
    width: 1000px;
    height: 10vh;

    border: 2px solid black;
    border-radius: 20px;

    margin: auto;
    margin-top: 60px;
}

.userDetails {
    border: 2px solid black;
    padding: 20px 20px;

    height: 25vh;
    width: 80vw;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 844px) {
        .home {
            height: 25vh;
            width: 80vw;

            font-size: 24px;

            margin-top: 5%;
        }
        .bgRsvp::before {
            content: '';

            position: absolute;
            top: 0;
            left: 0;
        
            z-index: -1;
        
            background-image: linear-gradient(to right, #B3EBF5, #FFE1FA);
            background-position: center;
            background-size: cover;
        
            overflow: hidden;
        
            height: 170vh;
            width: 100vw;
            filter: blur(10px);
        }
        .userDetails {
            width: 75vw;
            margin-right: 1.7rem;

            display: flex;
            flex-direction: column;

            height: 55%;
        }
    }
@media only screen and (min-width: 1023px) and (max-width: 1100px) {
    .home {
        height: 30vh;
        width: 90vw;
        font-size: 55px;
        margin-top: 120px;
    }
    .bgRsvp::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
    
        z-index: -1;
    
        background-image: linear-gradient(to right, #B3EBF5, #FFE1FA);
        background-position: center;
        background-size: cover;
    
        overflow: hidden;
    
        height: 160vh;
        width: 100vw;
        filter: blur(10px);
    }
    .userDetails {
        width: 75vw;
        display: flex;
        flex-direction: column;
        height: 60vh;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1200px) {
    .bgRsvp::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
    
        z-index: -1;
    
        background-image: linear-gradient(to right, #B3EBF5, #FFE1FA);
        background-position: center;
        background-size: cover;
    
        overflow: hidden;
    
        height: 130vh;
        width: 100vw;
        filter: blur(10px);
    }
}