@import './vars.css';

.address,
.noAddress {
    position: absolute;
    top: 8px;
    right: 16px;
}

.address p,
.noAddress p {
    border: 1px black solid;
    border-radius: 10px;
    padding: 8px 8px;
    height: 15px;

    background-color: wheat;

    display: inline-flex;

    font-family: var(--font-family);
    font-size: large;
}

.noAddress p {
    background: black;
    color: white;
    cursor: pointer;
}

.noAddress p:hover {
    box-shadow: 0px 0px 2px 2px pink;
}

.balance {
    position: absolute;
    top: 50px;
    right: 16px;
}

.balance p {
    border: 1px black solid;
    border-radius: 10px;
    padding: 8px 8px;
    height: 15px;

    background-color: wheat;

    display: inline-flex;

    font-family: var(--font-family);
    font-size: large;
}

.navbar {
    border-bottom: solid 1px;
    padding: 2rem;
}

.navLink {   
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 50px;
}

.navLink .homemenu {
    position: absolute;
    top: 8px;
    left: 16px;

    width: 2px;
    height: 2px;

    padding: 30px;
}

.navLink .menu {
    display: flex;
    gap: 60px;
}

.navLink .menu :nth-child(n) {

    border: 2px solid black;
    border-radius: 20px;

    background-color: wheat;
    
    padding: 5px 15px;

    width: 200px;

    text-align: center;
    text-decoration: none;
    color: black;
}

.navLink .menu :nth-child(n):hover {
    box-shadow: 0px 0px 10px 4px white;
}

.navLink .homemenu img:hover {
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px white;
}

.mobileNavBarCon,
.mobileNavBar {
    display: none;
}

@media only screen and (max-width: 844px),
    only screen and (min-width: 1023px) and (max-width: 1100px) {
    .navbar {
        display: none;
    }
    .mobileNavBarCon,
    .mobileNavBar {
        display: block;
    }

    @keyframes menuShowUp {
        0% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }

    .mobileMenu {
        position: absolute;
        z-index: 1;

        align-items: center;
    
        top: 5%;
        left: 20px;
        opacity: 0;
    
        display: flex;
        flex-direction: column;
        width: 30vw;
        transition: 0.5s ease;
    
        pointer-events: none;

        background: #333;
    }

    .mobileMenuActive {
        position: absolute;
        z-index: 1;
    
        align-items: center;

        top: 4rem;
        left: 20px;
        opacity: 1;
    
        display: flex;
        flex-direction: column;
        width: 30vw;
        transition: 0.5s ease;
    
        background: #333;
        animation: menuShowUp 1s;
    }
    .balance {
        display: none;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1180px) {
    .navLink .menu {
        display: flex;
        gap: 30px;
    }
    .balance {
        display: none;
    }
}